:root{
    background-color: #f0c9ea;
}

.container{
    width: 80%;
    height: 70vh;
    border: 1px solid blue;
    background-color: #ffffff;
    border-radius: 5%;
    margin: auto;
    margin-top: 5%;
}

.fields{
    margin: 5% 10% ;

}

#fields__title{
    font-size: 18px;
    font-weight: bold;

}

.pink-font{
    color: #e8258e;
}